# Core Framework
streamlit
streamlit-autorefresh

# Data Processing
pandas
numpy
scipy

# Visualizations
plotly

# Data Sources
requests
nselib

# Broker APIs
kiteconnect

# Options Pricing
mibian

# Utilities
python-dateutil
pytz
